[2019-05-02 12:25] blink1073 commented on #139
@klonuo, I finally got around to looking at this.  It appears to be working now with the latest version, can you please `pip install -U octave_kernel` and try again?

[2019-05-02 16:11] ha7ilm commented on #149
Steven,

Thank you very much for spotting that.
It looks like the `python2`-`python3` confusion happened to me again.
Mostly I still use `python2`, and didn't even have `pip3` installed.
Previously I upgraded `metakernel` and `octave-kernel` through `pip2`, but it looks like there was a different `metakernel` package on my system for `python3`.
After installing `pip3` and upgrading these packages,

[2019-05-02 16:11] #149 closed

[2019-05-02 17:05] ha7ilm commented on #144
Now this also works for me, after correctly upgrading the packages with `pip3` (the same problem that I had in #149).

[2019-05-03 02:16] lux12337 commented on #152
This is the output I get:
![image](https://user-images.githubusercontent.com/19236515/57117134-ba0e9b80-6d0e-11e9-88c4-acd45f36ac50.png)

[2019-05-03 02:21] OxeStone commented on #141
Nope! Doesn't work on my main laptop.
It runs on every other computer I've tried, except my primary laptop; I am trying to figure why it doesn't run on my main laptop. Any suggestions?

[2019-05-03 02:40] blink1073 commented on #152
Hmm, it looks like something is wrong with the install. We need to use the cli app in order to communicate properly.  Are you able to reinstall  octave and try octave-cli again?  If you got it from conda-forge, you might try from another source. I was getting segfaults from the conda-forge version.

[2019-05-03 02:46] blink1073 commented on #141
Can you please try the following from a terminal where your cwd is on the D: Drive:

[code]

[2019-05-03 05:30] OxeStone commented on #141
first line throws an error:
ImportError: cannot import name 'powershell' from 'metakernel.replwrap' (D:\Software\Programming\Python\WinPython\python-3.7.2.amd64\lib\site-packages\metakernel\replwrap.py)

[2019-05-03 05:33] OxeStone commented on #141
from octave_kernel.kernel import OctaveEngine
executes fine

e = OctaveEngine() throws this error:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "D:\Software\Programming\Python\WinPython\python-3.7.2.amd64\lib\site-packages\octave_kernel\kernel.py", line 162, in __init__
    self.repl = self._create_repl()
  File "D:\Software\Programming\Python\WinPython\python-3.

[2019-05-03 05:40] OxeStone commented on #141
AHA! Updated 'metakernel' from '0.20.4' to '0.21.3' and everything is working now. Thank you!

[2019-05-03 07:55] ha7ilm commented on #144
I created the following one-liner to display a waitbar:

    cwaitbar=@(val,maxval) printf(["\r" repmat("█",1,round(50*val/maxval)) repmat("░",1,round(50*(1-val/maxval))) " %d/%d"],val,maxval);

![image](https://user-images.githubusercontent.com/5903408/57125239-f7177400-6d88-11e9-816c-2b1d53c4a460.png)

As a note, it only shows up during progress if at least a line ending with `\n` is printed bef

[2019-05-03 07:57] blink1073 commented on #141
Great!  Closing this as solved.

[2019-05-03 07:57] #141 closed

[2019-05-03 13:19] #98 closed

[2019-05-03 13:19] #122 closed

[2019-05-03 13:19] #125 closed

[2019-05-03 13:19] #134 closed

[2019-05-03 13:19] #135 closed

[2019-05-03 13:19] #143 closed

[2019-05-03 13:19] #71 closed

[2019-05-03 13:19] #76 closed

[2019-05-03 13:19] #82 closed

[2019-05-03 13:19] #86 closed

[2019-05-03 13:19] #97 closed

[2019-05-03 13:21] blink1073 commented on #96
Hi @TheMadHatter666, can you please try this again with the latest version (0.30)?

[2019-05-13 11:32] Foadsf opened #155 "ErrorI: nvalid response: 403 Forbidden"
I installed the kernel using `pip install octave_kernel` but I get the error:

![octave1](https://user-images.githubusercontent.com/12762442/57618266-3a40c680-7583-11e9-8d2e-5bc3dcc18da1.PNG)

and then:

![octave2](https://user-images.githubusercontent.com/12762442/57618309-547aa480-7583-11e9-9ea0-496aa9890665.PNG)

My OS is Windows 10 build 1809
Python version 3.7.3
Octave version 5.1.0
Jupyter l

[2019-05-14 14:42] blink1073 commented on #155
Hi @Foadsf, does this also happen when launching a Python kernel?

Also, can you please include the browser console log?

[2019-05-20 19:41] centaurarrow opened #156 "TypeError: can only concatenate list (not "int") to list"
I am getting the below error while executing the below commands:
a=[1,2,3]
b=a+3;

TypeError: can only concatenate list (not "int") to list

![image](https://user-images.githubusercontent.com/5846505/58047111-4c87ab00-7b15-11e9-834e-c3240181c3c0.png)

Commands executed:
**Conda Base Environment**
(base) [root@ip-****** ec2-user]# octave-cli
bash: octave-cli: command not found

**Conda Octave Envir

[2019-05-20 23:28] dsblank commented on #156
@centaurarrow The error you are seeing is a Python error, so that means that you are executing the commands with a Python kernel. Can you verify that you are using an octave kernel?

[2019-05-24 08:21] Foadsf commented on #155
@blink1073 apologies for the late reply. Wish there were a GitHub Android app to get these notifications faster. Do you have Twitter?

No Python is fine. How can I get the browser console log?

[2019-05-24 09:01] blink1073 commented on #155
I don't use social media, it isn't good for my mental health.  :smile:

Did you run JupyterLab from the root `C:` by chance?

The browser log can be found by hitting F12 and selecting the Console tab in the developer tools (on either FF, Chrome, or Edge).

[2019-05-27 11:18] Foadsf commented on #155
@blink1073

You are doing the right thing :))

running the Jupyter notebook from an arbitrary path I get this error:

and this is the log information I get in the console:

Kernel: kernel_disconnected (b2a125be-4178-40b2-a890-4acacee617f0) kernel.js:103
WebSocket connection failed:  ws://localhost:8888/api/kernels/b2a125be-4178-40b2-a890-4acacee617f0 true kernel.js:544
Connection lost, reconnectin

[2019-05-27 11:43] blink1073 commented on #155
It looks like websockets are disabled, either in FF itself or with something like an antivirus program.  You can rule out FF by trying in Edge or Chrome.

[2019-05-29 14:57] centaurarrow commented on #156
@dsblank : Yes I am using octave kernel.

[2019-05-30 20:48] blink1073 commented on #156
Hi @centaurarrow, can you post a full screenshot showing the kernel name and the above error?
Here's what I'm seeing:

![image](https://user-images.githubusercontent.com/2096628/58663505-4c946180-82f2-11e9-8a38-a32a8a3f22eb.png)

[2019-06-12 21:05] Foadsf commented on #155
OK, this seems to be a simple issue. The `octave.exe` was not detected by the OS. As I have described [here](https://superuser.com/a/1448048/588662), I added the path to the `octave.exe` to the environment variables and it works like a charm now!

[2019-06-12 22:40] blink1073 commented on #155
Great!

[2019-06-12 22:40] #155 closed

[2019-06-21 05:06] QuLogic opened #159 "Tests fail with Octave 5"
An [auto-rebuild](https://apps.fedoraproject.org/koschei/build/6585992) with Octave 5 is now failing:
[code]
In Octave 5, `onenormest` was [removed](https://www.gnu.org/software/octave/NEWS-5.1.html#removed-functions-and-properties).

[2019-06-21 08:31] blink1073 commented on #159
Thanks for the report!  Do you know of a suitable replacement that has more than one completion and is available in both 4 and 5?  cf https://github.com/Calysto/octave_kernel/blob/6f86ad7f25a7a84ea7530618b5ae8d292301317b/test_octave_kernel.py#L21

[2019-06-21 09:08] QuLogic commented on #159
How about `acos`?
[code]

[2019-06-21 09:18] blink1073 commented on #159
Sounds good. I'm afk until Sunday, would you like to make a PR?

[2019-07-22 08:52] #159 closed

[2019-08-01 02:18] thalesmaoa opened #161 "Variable exchange with magic %python"
I'm running octave as the main language to control Finite Elements software. I'm also using python to update a drawing since the CAD (FreeCAD) is only compatible with python.

I just need to create a variable:

`A = 1`

[code]

I don't know how to get it working...

[2019-08-03 12:05] blink1073 commented on #161
Hi @thalesmaoa, unfortunately metakernel (and octave kernel by extension) does not support passing variables to the `%%python` magic.

[2019-08-05 16:28] thalesmaoa commented on #161
I've found a package that can probably help with that.

https://gitlab.com/mtmiller/octave-pythonic

I will give it a try and report latter.

[2019-08-12 21:57] #161 closed

[2019-09-03 15:24] vroomanj opened #162 "Octave kernel not showing as option in JupyterHub / Jupyter Notebook."
I am running JupyterHub with a Docker Swarm back-end. I have a Notebook image built and have installed Octave. Octave launches properly in the terminal of my Notebook.

I installed octave_kernel using the following:

I set OCTAVE_EXECUTABLE as follows:

I have corrected the Octave kernel.json using the following:

The kernel shows up in the kernel list:

And the kernel.json contains the following:

[2019-09-03 17:29] blink1073 commented on #162
Is the bash kernel shown but not the Octave kernel?  Can you pass args to the spawner to run with the `--debug` flag set and see if there is anything of interest in the log when the user's server starts?

[2019-09-03 17:36] vroomanj commented on #162
@blink1073: The bash, python2 and python3 kernels are shown but not the Octave kernel. I will try using the --debug flag tonight when I am able to take the Hub down temporarily.

[2019-09-03 17:50] blink1073 commented on #162
:+1:

[2019-09-20 15:31] rucarden commented on #116
When I installed octave 4.4 using the app bundle at https://wiki.octave.org/Octave_for_macOS, it didn't come with an octave-cli only an octave command.
I just made a link with that name and put in my home bin directory which is in my path.
`ln -s /usr/local/bin/octave ~/bin/octave-cli`

[2019-10-16 20:16] vroomanj commented on #162
Closing issue. This was my fault. My c.KernelSpecManager.whitelist in my user .jupyter/jupyter_notebook_config.py was overriding the system's whitelist and octave wasn't in the whitelist.

[2019-10-16 20:16] #162 closed

[2019-10-18 06:04] diallobakary4 commented on #139
I am having the saving with jupyter-lab and notebook. Everything worked fine up to recently.
I deactivated the firewall and ad blocker on the browser, also tried another browser.
I changed configurations in
/home/user/.jupyter/jupyter_notebook_config.py
increasing c.MappingKernelManager.kernel_info_timeout to 180
and also trying home directory for c.NotebookApp.notebook_dir without success, still

[2019-10-18 21:15] blink1073 commented on #139
Hi @diallobakary4, what OS are you using?  What is the output of `python -m octave_kernel.check`?

[2019-10-19 13:17] diallobakary4 commented on #139
The OS is Linux (CentOS) but I am using an octave kernel but a python. I am reinstalling a new conda env now.

[2019-11-13 03:16] yellow-circle opened #163 "octave-cli not found?"
Hi, I am using windows 10 and I installed the octave kernel using pip.
I have added the octave-cli executable to the path variable as shown (or well, I think that's how you're meant to do it.)
![Capture](https://user-images.githubusercontent.com/50559893/68730212-218f9700-0620-11ea-869c-c64271593c06.PNG)

I get this error message below when I try to start an octave kernel on jupyterlab.

[code]

H

[2019-11-13 14:49] blink1073 commented on #163
Hi @yellow-circle, is there an `octave-cli.exe` in that `mingw\bin` folder?

[2019-11-14 06:31] yellow-circle commented on #163
Yes there is. Also I managed to solve the issue: I had to restart Anaconda, then it worked.

[2019-11-14 06:31] #163 closed

[2020-01-06 19:50] viraghj opened #164 "qt toolkit can't be enabled"
$ python -m octave_kernel.check
Octave kernel v0.31.0
Metakernel v0.24.3
Python v3.7.5 (default, Dec 15 2019, 17:54:26)
[GCC 9.2.1 20190827 (Red Hat 9.2.1-1)]
Python path: /usr/bin/python

Connecting to Octave...
Octave connection established
Octave Kernel v0.31.0 running GNU Octave v5.1.0
Graphics toolkit: fltk
Available toolkits:
  [1,1] = fltk
  [1,2] = gnuplot
}

$ octave -q
octave:1> availabl

[2020-01-06 20:14] blink1073 commented on #164
Hi @viraghj, are you launching the `octave-cli` executable when you see the `qt` toolkit?  We need to use `octave-cli` to prevent the Octave window from opening.

[2020-01-07 08:39] viraghj commented on #164
No - it was the "true" octave binary. And now I realized, that octave-cli doesn't offer the qt toolkit.
So this is a dead end, really? My main concern is the use of Octave uicontrols in notebooks and it requires the qt toolkit.
After linking octave-cli to octave-5.2.1 qt can be enabled and the controls are created in their own windows, but without any interaction/callback activity.

Then this exam

[2020-01-07 11:51] vivekpatel99 opened #165 "FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\vivepate\\AppData\\Local\\Temp\\_MEI104322\\octave_kernel\\kernel.json'"
I am trying to generate exe file using pyinstaller.  My python script is working completely fine but my new generated exe file via pyinstaller is showing me the following error.
Can you please help me to solve following error? thank you in advanced.

Traceback (most recent call last):
  File "main.py", line 11, in <module>
    from oct2py import octave
  File "<frozen importlib._bootstrap>", line

[2020-01-07 22:41] blink1073 commented on #165
Hi @vivekpatel99, I'm not sure how that would happen.  Looking at the [code](https://github.com/Calysto/octave_kernel/blob/master/octave_kernel/kernel.py#L43), I'd expect it to look in `site-packages\octave_kernel`, unless PyInstaller is somehow affecting `__file__`.

[2020-01-24 21:38] YousefSaber opened #166 "instruct Jupyter to run Octave code on the Octave flatpack app"
Ubuntu 19.10 repository provides an outdated old 4.4 version of Octave, how do I instruct Jupyter to use Octave flatpack app to run Octave Code

[2020-01-24 22:08] blink1073 commented on #166
Does the flatpack app have a `/bin` dir or otherwise have an `octave-cli` executable in it?  If so, you can point your `OCTAVE_EXECUTABLE` environment variable to that executable.

[2020-01-24 22:52] YousefSaber commented on #166
@blink1073
flatpack Octave can enter the CLI mode as follows

[code]

and please show me step by step how to edit the ```OCTAVE_EXECUTABLE``` environment variable I'm very beginner , just learned Jupyter notebook today

as for bin files for flatpack app I can't exactly locate it

[2020-01-24 23:22] YousefSaber commented on #166
edit I have located the bin files
[code]

[2020-01-24 23:28] blink1073 commented on #166
What is the output of:

[code]

[2020-01-24 23:35] YousefSaber commented on #166
here is the output @blink1073
[code]

[2020-01-24 23:38] blink1073 commented on #166
You should be able to add:

[code]

To the end of your `~/.bashrc` file, and then run the following to see if it worked:

[code]

[2020-01-24 23:49] YousefSaber commented on #166
@blink1073 it gives me this error message

[code]

[2020-01-30 14:28] gaurav-vision commented on #105
Any image format either png, jpg, jpeg or gif etc, you want to show in python jupyter notebook then simply use matplotlib library.
"import matplotlib.pyplot as plt"
"import matplotlib.image as mpimg"
img = mpimg.imread("/home/gaurav/soft computing assignment/soft computing/river.gif")
plt.imshow(img)

[2020-02-23 23:44] rjdoubleu opened #167 "Working with flatpak"
I have installed the latest release of octave via flatpak. In order to run octave, I use the following command: `flatpak run org.octave.Octave`. How do I get the octave_kernel to run off of this instance?

[2020-02-25 20:49] jose-matos opened #168 "Support for Tablicious (tabular data strucutures)"
I would like to help with support of Tablicious inside octave_kernel.
Tablicious is a new package that is being developed to support table data structures for Octave:
https://github.com/apjanke/octave-tablicious

In particular I would to work on the display of tables when using jupyter.

What would be the first place to start?

[2020-02-26 16:52] blink1073 commented on #168
Hi @jose-matos, that is a tough one because we don't have a direct handle on the Octave objects from the kernel.   What you could do is write an Octave function that checks the workspace for any table objects, creates an html output from them, and puts them in a directory.  You would then extract the html output and display it from the kernel.    This would parallel what we do for [figures](https:

[2020-03-08 01:42] hovikgas commented on #105
If it is a GIF, it only shows the first frame, so it only shows up as a picture. Is there a special argument for format='gif' or something to specify?

[2020-04-05 22:54] AchimTuran commented on #28
Hi guys,

if you use `setx OCTAVE_EXECUTABLE "<path\to\octave>\mingw64\bin\octave-cli.exe` you only have to set the variable once. And don't foget to restart you conda command line terminal. ;-)

[2020-04-10 12:32] mxjeff opened #169 "octave-kernel==0.31.1 not in pypi"
Hi,

It looks like the latest release in not available on the Python Package Index.

https://pypi.org/project/octave-kernel/#history

Cheers

[2020-04-10 12:35] blink1073 commented on #169
Fixed, thanks for the heads up!

[2020-04-10 12:35] #169 closed

[2020-04-12 18:49] flizzer opened #170 "error when attempting to save a plot to disk from within a notebook"
Greetings.  I get the below error when trying to save a plot to my filesystem.

```print -dpng 'myPlot.png'```

[code]

I'm on macOS Catalina (10.15.4) and am using JupyterLab 2.1.0.  When using the octave-cli, the print command works as expected.  Do you know of any reason why these libraries wouldn't be referenced by octave_kernel?

Thanks for any insight.

Brian

[2020-04-13 10:05] blink1073 commented on #170
Hi @flizzer, we attempt to mimic what Octave does at startup [here](https://github.com/Calysto/octave_kernel/blob/9803a8e028628d2d31b835ee267af312b83aac2d/octave_kernel/kernel.py#L319).  Perhaps something is missing there.

[2020-04-15 18:45] 59hqtRu1 opened #171 "magics"
This probably isn't an issue, just something I haven't understood.

It says on the github site that magics are available in the Octave kernel, but when I try, say, %lsmagic in a jupyter notebook cell, nothing happens, which isn't really surprising because % indicates a comment in Octave.  So how do I get the magics with the Octave kernel?

Thanks

[2020-04-15 18:58] dsblank commented on #171
Not all ipython magics area avilable, but I believe that these should work (even though % is a comment):

https://github.com/Calysto/metakernel/blob/master/metakernel/magics/README.md

[2020-04-15 19:03] dsblank commented on #171
The metakernel magics must appear at top, on very left of line.

[2020-04-15 19:10] 59hqtRu1 commented on #171
Ahh, yes, that makes them work.  Thanks!

On Wed, 15 Apr 2020, Doug Blank notifications-at-github.com |github| wrote:

[2020-04-15 19:54] dsblank commented on #171
Great! Thanks for confirming!

[2020-04-15 19:54] #171 closed

[2020-04-24 19:25] Bonjour123 commented on #167
Did you find a solution ? It's making me crasy ^^

[2020-05-02 18:48] hearaujo-hub commented on #121
what didi you do?

what did you do? having same problem here

[2020-05-16 15:38] PhilFreeman opened #174 "Temp directory not found when plotting"
Just started learning Notebooks today so maybe this has nothing to do with octave_kernel, but it seems to. I made a simple notebook with Jupyter Lab. Octave commands work fine and the system can evaluate and return results. However, plotting results in the following error

[code]

Checking the Octave history, I can see the call
`_make_figures("/tmp/tmp1_66g9ve", "png", "Figure", -1, -1, 0, 0)`

Th

[2020-05-17 10:07] blink1073 commented on #174
Hi @PhilFreeman, the difference is that in the Octave kernel we are using `print` to get the plot output, which is not as well supported in Octave as the live figure windows.  If you try the following in Octave do you get a similar error?  `plot (1:10); print foo.png`

See also https://savannah.gnu.org/bugs/?56193

[2020-05-17 16:17] PhilFreeman commented on #174
Yes, same error. I'll see if I can figure out a workaround.

[2020-05-17 16:30] PhilFreeman commented on #174
Actually, it's not the same. I still get the warning (only on the first call), but the figure does print to the local working directory.
[code]
subsequent calls to print do not spawn the warning.
However, if I call ```print('tmp/peaks.png')``` then I get the error
[code]
Which indicates that Octave won't create the temporary directory for the figures. So, it seems that octave_kernel is requesting

[2020-05-18 09:12] blink1073 commented on #174
That is odd, the docs for [`mkdtemp`](https://docs.python.org/3/library/tempfile.html#tempfile.mkdtemp) say that it makes a directory, and it does for me locally using Python 3.8.1.

What version of Python are you using?

[2020-05-18 12:11] PhilFreeman commented on #174
Python is 3.7.6. It looks like I have a typo in my test above. I wrote ```mktemp```, not ```mkdtemp``` (which it's really odd that I got anything returned, but I did). When I use ```mkdtemp```, indeed, it does create a temporary directory. Odd.

I'm going to spend some time setting up a development environment and try to learn to step through the code in a debugger. Maybe I can figure this out on

[2020-05-18 12:35] blink1073 commented on #174
You may also try running _make_figures directly from Octave.

[2020-05-18 17:27] PhilFreeman commented on #174
I did. From the previous comment

[2020-05-18 17:32] blink1073 commented on #174
Ah, my mistake, too much context switching this morning.   I'm curious, if you comment out these lines locally, does it display the figure?   I wonder if we're being to aggressive in the error handling:

https://github.com/Calysto/octave_kernel/blob/6942177335988b04fa8c33d328056380e94dd7dc/octave_kernel/kernel.py#L282-L287

[2020-05-19 01:45] PhilFreeman commented on #174
I'll try that. How do I get Jupyter to use my clone of the repo rather than the "installed" version of octave_kernel? I tried to do a ```make all``` from ```octave_kernel/```. That ran without error, but it doesn't seem that Jupyter is using the version I just made. Is there another step needed?

[2020-05-19 02:14] blink1073 commented on #174
`pip install -e .` from the repo root should do it.

[2020-05-19 12:24] PhilFreeman commented on #174
So.... I screwed up. :) Commenting the lines only caused it to fail silently. Since the error strongly pointed towards Octave not finding the temp directory, I just hardcoded plot_dir to '.' and tried that. The error message changed so that seemed like progress. Then, octave_kernel dutifully cleaned up the temporary directory. I was running Jupyter from my home directory. Yeah. Lost everything.

I

[2020-05-19 18:15] blink1073 commented on #174
Holy moly, I'm so sorry @PhilFreeman, that is a nightmare.

[2020-05-21 00:20] PhilFreeman commented on #174
The ```pip install -e .``` doesn't seem to work for me. It runs, and claims success, but when I launch jupyter lab the Octave kernel option isn't available. My installation is Anaconda. Does that make a difference?

[2020-05-21 00:46] blink1073 commented on #174
Ah, right, you need `python -m octave_kernel install`.

[2020-05-21 01:49] PhilFreeman commented on #174
OK, I finally figured it out. On Ubuntu Octave 5.2.0 is installed as a Snap application, so it's containerized. Ghostscript is not in that container, which screws up the ```print()``` command in CLI mode (but not in GUI mode, for some reason). I dropped back to 4.2.2, which is an apt version. Octave_kerenel works as designed and the inline graphics show up perfectly. I'll close this issue and see

[2020-05-21 01:55] dsblank commented on #174
Thanks @PhilFreeman !

[2020-05-21 09:25] slel commented on #174
Open a ticket in the issue tracker for the "octave-snap" repo?

- https://github.com/octave-snap/octave-snap

[2020-05-21 22:49] PhilFreeman commented on #174
I did a little more work on this. I'm not reopening the issue, but the kernel could be modified to work with the snap installation. I hacked this together by directly editing kernel.py in my pkgs. I haven't been able to make a working version of the repo so I can properly write this for a pull request. I'll outline the solution here.

With the Octave 5.2.0 Snap installation (and I assume any 5.x i

[2020-05-22 13:27] blink1073 commented on #174
Thanks @PhilFreeman!  I'll leave this open in case someone wants to implement the fix.  I am not an Ubunu user.

[2020-05-23 15:53] PhilFreeman commented on #174
Issue fixed in version 0.32.0.

[2020-05-23 15:53] #174 closed

[2020-07-11 00:13] alanbazzaz opened #176 "Unstable Octave running in Jupyter Notebook"
Octave stops, gives wrong results and errors. Please help. I'm new to using Octave, and installing software through command line.
I suspect the issue with the way I installed everything, but please let me know how to correct. Below are some of the environment variables.
I'm running OS X 10.15.4

Alan-New-Air-2:~ alan$ which octave
/usr/local/octave/3.8.0/bin/octave
Alan-New-Air-2:~ alan$ echo $OCT

[2020-07-11 18:14] blink1073 commented on #176
Hi @alanbazzaz, it looks like you need to activate a conda environment so your `python` executable is the one in that environment.

[2020-07-11 18:22] alanbazzaz opened #177 "Error Saving Plot"
I get this error saving my plot. Any idea how to fix it?

print -dpng 'my plot.png'

I get the following:
error: __fltk_redraw__: not available without OpenGL and FLTK libraries
error: called from:
error:   /usr/local/octave/3.8.0/share/octave/3.8.0/m/plot/util/private/__fltk_print__.m at line 30, column 3
error:   /usr/local/octave/3.8.0/share/octave/3.8.0/m/plot/util/print.m at line 422, column

[2020-07-11 18:27] blink1073 commented on #177
Hi @alanbazzaz, that one is Octave-specific, I'm not sure.

[2020-07-14 18:33] thalesmaoa opened #178 "Graph encode character"
I'm still getting encode character problema as refered in #29. However, the problem is now in the plot.

![image](https://user-images.githubusercontent.com/14074573/87463115-5016a500-c5e7-11ea-81f0-2453db3da9be.png)

[2020-07-24 17:52] alanbazzaz opened #179 "Input statement in a For loop hangs after first iteration"
Puzzled why the input statement (and other i/o statements) don't work after the first iteration.

Here's my simple code
for i=1:3
  s = input ("Pick a number, any number! ", "s")
  fprintf('your number is: ', s);
  end

First iteration, displays the prompt with a window to enter the number. Then it prints the number as expected. But nothing after that. I can see the kernel is running in Jupyter, b

[2020-07-24 18:00] dsblank commented on #179
Yeah, that is probably not going to be easy to fix. You can look at the way that the kernel talks to the octave executable, but that is probably not easily put into a loop controlled by octave.

[2020-07-24 18:01] #176 closed

[2020-07-24 18:08] alanbazzaz commented on #176
Thank you, for the enlightening answer.
I’m new to octave and conda. Is there an example you can point me towards?

Much appreciated.
Alan

[2020-09-01 20:03] leolca commented on #86
The same issue reported by @ghost happens here. :-/

[2020-10-09 09:39] pantxo commented on #164
Recent versions of the octave binary (>= 4.4) don't launch the GUI by default, while older ones just need be launched using the "--no-gui" switch in order to avoid poping up a GUI window. The switch still exists in new versions of octave but has no effect.

Using this switch would allow using the Qt toolkit which, contrary to the Gnuplot toolkit, is actively developed. It won't allow using "ui*" (

[2020-11-11 20:08] DrNightingales opened #180 "EOF error while plotting on termux"
I have Jupyter notebook installed on termux on my android device. My octave is installed from [its-pointless](https://github.com/its-pointless) repo for termux-packages, it has it's gui disabled. Gnuplot is installed as well.
When I try using `plot();` or `figure();` or any other function related to plotting in jupyter-notebook with octave kernel I get this error:
[code]
P.S.
I can plot in octave

[2020-11-11 21:25] dsblank commented on #180
Interesting environment!

It looks like octave is failing. Searching for "caught signal Aborted -- stopping myself" might give some hints.

[2020-12-17 22:14] Stawicki opened #181 "Kernel not starting"
Hey, I have issue with starting the octave kernel

with `OCTAVE_EXECUTABLE` variable pointing to mingw64 version of the octave-cli, `python -m octave_kernel.check` produces following:

[code]

My octave version is 6.1.0, operating system is Win10 64 bit.

@Edit
Managed to fix the issue, must've had some typo in OCTAVE_EXECUTABLE path

[2020-12-17 22:39] #181 closed

[2020-12-22 15:35] TheodoreEhrenborg commented on #143
Thanks! Running this before I called `plot` worked for me too. Small clarification: It's spelled `graphics_toolkit("gnuplot")`

[2020-12-30 21:15] MohamedHaggag opened #182 "Failing to launch Octave Kernel"
Hi there!

So I've been trying to get this kernel work for sometime now without any luck. I tried both methods described in the README, and I always get the same error.

`[I 2020-12-31 06:12:03.848 ServerApp] Kernel started: a266612c-98a4-4fd1-b2bf-72b4154c3505
/usr/bin/python3: No module named octave_kernel
[I 2020-12-31 06:12:06.848 ServerApp] KernelRestarter: restarting kernel (1/5), new random

[2020-12-31 22:51] foxserie opened #183 "Error plotting with Octave 6.1.0 on jupyter notebook"
I have installed two versions of Octave both 32 bits.

- Octave 4.4.1 that was the one I used the most and
- Octave 6.1.0 that is the most recent one.

*I also have gnuplot 5.2 patch level 7 installed-

The octave kernel is installed in anaconda via:

```conda install octave_kernel```

- to know where to look for the executable in windows you require the enviromental variable, here i tell it to go

[2021-01-04 17:16] blink1073 commented on #182
It looks like you have `octave_kernel` installed in a different place than `jupyter`, which is installed in `/usr/bin/python3` on your machine.  You could try installing the kernel as `/usr/bin/python3 -m pip install octave_kernel`, and then run `jupyter kernelspec list` to make sure it was discovered.

[2021-01-11 14:25] daholzfeind opened #184 "Calling open or doc causes kernel to hang"
When calling `open`, or `doc`, e.g., `doc rref` or `open rref` the octave kernel hangs up and have to be killed or restarted to work further on.

[2021-02-19 15:12] maucejo opened #185 "Fail connecting octave kernel with JupyterHub"
I have tried to use the octave kernel within a Jupyterhub instance. I have followed the instructions given in the ReadMe.rst. Unfortunately, when opening a new notebook, the kernel does not start. When opening a terminal, octave runs, but returns two warnings:
octave: X11 DISPLAY environment variable not set
octave: disabling GUI features

Do you have any idea to solve this problem ?

$ python -m

[2021-03-12 09:54] larssp commented on #183
Seems like the 'Visible' property is now off by default. Try adding `set(gcf,'Visible','on')` at the end of your plotting cell.

[2021-03-12 22:19] lukkesweet commented on #183
I saw this answer over on StackOverflow but you can add the command

`graphics_toolkit("gnuplot")`

to the beginning of your script to make it work.  Does anyone know how to add this to the kernel?

[2021-03-12 22:29] dsblank commented on #183
Looks like that is set in the config settings "backend":

https://github.com/Calysto/octave_kernel/blob/master/octave_kernel/kernel.py#L215

https://github.com/Calysto/octave_kernel#configuration

So:

[code]

[2021-03-14 00:04] emerzari opened #186 "Issue starting Kernel on MacOS (argument of type 'NoneType' is not iterable)"
I tried installing this. I was able to launch a new octave notebook, but the kernel keeps failing at launch.

I get this error when doing python3 -m octave_kernel.check. The error is rather non-descriptive.
Has anyone encountered it?

$ python3 -m octave_kernel.check

Octave kernel v0.32.0
Metakernel v0.27.5
Python v3.9.2 (default, Feb 24 2021, 13:26:01)
[Clang 11.0.0 (clang-1100.0.33.17)]
Python

[2021-03-15 16:30] larssp commented on #183
Quite peculiar,  `graphics_toolkit()` returns gnuplot from the start but octave uses fltk for plotting instead.
Unless one additionally invokes  `graphics_toolkit('gnuplot')`.

See following comparison (Jupyter Lab, WinPython, Win10):

<details>
  <summary>octave 6.2.0</summary>

[code]

    ans = 6.2.0

[code]

    ans = gnuplot

[code]

    ans =
    {
      [1,1] = gnuplot
    }

[code]

    In

[2021-03-15 19:59] dsblank commented on #186
It could be that there are no graphics backends installed:

https://github.com/Calysto/octave_kernel/blob/a613c29f40e22b1751164bca30df381799539f06/octave_kernel/check.py#L18

I just leave this hint for now, and perhaps someone can clean up that code a bit, or I can have a look in the next few days.

[2021-03-18 21:54] adityaapte opened #187 "Unable to launch external figure window with %plot native"
I am using Octave 6.2. %plot natve throws the following error:

[code]

[2021-03-19 19:17] oxavierq opened #188 "OSError: octave-cli not found, please see README"
I have installed Jupyter notebook, using anaconda, and install Octave dmg 6.2. I can run the octave GUI from the application folder. I can also run Python from the Jupyter notebook with no issues.

Problem: I can select Octave from Jupyter, but none of the lines work.

When I look at the Terminal I see this error: OSError: octave-cli not found, please see README

there is a lot of guidance on chan

[2021-03-19 23:16] mpiorczynski opened #189 "[WinError 193] %1 is not a valid Win32 application"
(base) D:\Python\PPPD>jupyter kernelspec list
Available kernels:
octave D:\anaconda3\share\jupyter\kernels\octave
python3 D:\anaconda3\share\jupyter\kernels\python3

(base) D:\Python\PPPD>python -m octave_kernel.check
Octave kernel v0.32.0
Metakernel v0.27.5
Python v3.8.3 (default, Jul 2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]
Python path: D:\anaconda3\python.exe

Connecting to Octave...
Can't

[2021-03-24 17:48] leo-smi commented on #189
I have the same problem on windows 7 64x
![image](https://user-images.githubusercontent.com/20663547/112359330-ec816300-8caf-11eb-8277-0efa9c068c93.png)

[2021-04-03 00:57] Genora51 opened #190 "KeyError 'metadata' on completions"
Running `jupyter console --kernel octave` crashes when attempting to get code-completions with tab.

The following error is produced:
[code]

[2021-04-03 01:30] dsblank commented on #190
That should be fairly easy to fix, I would think. Thanks for reporting!

[2021-04-25 13:42] YousefSaber opened #191 "plotting doesn't work"
[code]
hope these commands help
![image](https://user-images.githubusercontent.com/33742499/115995656-6ae96180-a5dc-11eb-923e-4f60beb83f5a.png)

octave-kernel version 0.32.0
Octave version 6.1.1

[2021-05-02 07:34] rolfdstoll opened #192 "kernel doesn't work with octave 6.2"
It looks like the kernel does not work with Octave 6.2.0. OCTAVE_EXECUTABLE and PATH were set correctly according to installation instructions, but without success. The octave kernel chek error message is: [WinError 193] %1 is not a valid Win32 application. But with Octave 5.2 everything works fine. I work with jupyter under winpython 3.9.2 (windows10)

**python -m octave_kernel.check:**
Octave ke

[2021-05-03 14:30] rolfdstoll commented on #192
Problem resolved.
Octave 6.2.0 and winpython 3.9.4 completely reinstalled. Path and environment variable set:
Path —>D:\Octave\Octave-6.2.0\mingw64\bin
OCTAVE_EXECUTABLE —> D:\Octave\Octave-6.2.0\mingw64\bin\octave-cli.exe
now it suddenly works with Octave 6.2.0.
Unfortunately, I could not find out the reason for the previous misconduct.

[2021-05-03 14:30] #192 closed

[2021-05-03 14:33] dsblank commented on #192
Thanks for the update! Glad you solved it :)

[2021-05-17 15:18] n-richardson opened #193 "issue connecting to kernel"
I have an issue when I try to start the octave kernel in a jupyter notebook and the kernel is never able to load which results in the following error.

 raise OSError('octave-cli not found, please see README')

I am trying to run this on windows and on octave-6.2.0. I believe the issue stems from the program not being able to locate octave-cli which I am also unable to run in my windows command pr

[2021-05-31 16:33] lamroger opened #194 "Missing prompt to continue when "pause"ing from another function."
ex1.m has a call to pause but the prompt to continue doesnt show up.

<img width="639" alt="Screen Shot 2021-05-31 at 12 31 52 PM" src="https://user-images.githubusercontent.com/601386/120221313-2f116f80-c20c-11eb-892e-24f1dbe24a93.png">

but calling pause directly works.
<img width="860" alt="Screen Shot 2021-05-31 at 12 32 57 PM" src="https://user-images.githubusercontent.com/601386/120221395-56

[2021-06-15 09:40] samipism opened #195 "Plotting doesn't work in Jupyter!(Arch Linux System) Installed, gnuplot"
Hello, I am trying to plot a graph in jupyter notebook. I searched through various forums, where many of them suggested to install gnuplot, include graphics_toolkit("gnuplot").

I tried those, but none of the techniques worked. I guess, from the error, it is searching for the files related to fltk. Although, the graphics toolkit has been changed to gnuplot. Please help. Thank you in advance.
![ima

[2021-06-30 16:02] YousefSaber commented on #195
facing the same issue, I made a previous [issue](https://github.com/Calysto/octave_kernel/issues/191) and got no response till now

[2021-07-19 00:22] taffarel55 commented on #195
I have the same issue on Manjaro

[2021-07-19 00:23] taffarel55 commented on #191
I have the same issue on Manjaro

[2021-07-31 13:44] Nordiniv opened #196 "qt toolkit is not available"
Plots only with Gnuplot, neither qt nor fltk works.

**graphics_toolkit ("qt");**

[code]

**graphics_toolkit ("fltk");**

[code]

**Somehow available_graphics_toolkits()**
[code]
**But in Octave GUI qt is available. I don't know if it's an issue, but I need help :"D**

[2021-08-02 10:31] marvinstanley opened #197 "Gnuplot not recognized by octave_kernel when installed on a different Conda Environment"
Several things to note about my Conda Environments:
(base) -> where my jupyter is installed, I ran jupyter through this env
(octave_env) -> where I installed `octave_kernel`, `octave` and `gnuplot`

**Current Setup:**
1. I installed `octave_kernel`, `octave` and `gnuplot` successfully on my Conda Env called `(octave_env)`
2. I've made sure that plotting is possible using octave-cli on the `(octave

[2021-08-02 12:48] marvinstanley commented on #197
After some more tinkering, here are my findings:
1. Running Jupyter Notebook or Lab from the `(octave_env)`, `gnuplot` is recognized and the Octave Kernel was able to plot the graph
2. Running the notebook via VSCode and choosing the Octave Kernel, the Octave Kernel was also able to plot the graph

So based on point 1 from my findings, I most likely have to also install `gnuplot` on my `(base)` en

[2021-08-02 12:48] #197 closed

[2021-09-22 08:53] frenzymadness opened #198 "jupyter_kernel_test incompatibility"
As you can see in https://github.com/jupyter/jupyter_kernel_test/issues/56, jupyter_kernel_test is not compatible with the latest jupyter-client which means that also tests of octave_kernel do not work:

[code]
I'm not sure whether the project will have enough power to fix it so it might be better to find a different way and get rid of it if possible.

[2021-10-07 18:13] AnonymoZ commented on #189
The same problem. Until @Calysto decides to fix.. my full traceback is as such:

My links first:
OCTAVE_EXECUTABLE
C:\Program Files\GNU Octave\Octave-6.3.0\mingw64\bin\octave-cli.exe
Path
C:\Program Files\GNU Octave\Octave-6.3.0\mingw64\bin

**OSError: [WinError 193] %1 is not a valid Win32 application**

[2021-10-09 21:04] n-richardson commented on #193
Yes, it worked on windows after downgrading! Funny thing though, after I had first encountered this issue, I set up an ubuntu environment in WSL and installed the 6.2.0 version of octave. The Octave-kernel works perfectly there for some reason using the newest version of octave lol.

[2021-10-09 21:04] #193 closed

[2021-10-30 08:45] Anirudh2305 commented on #188
I'm also getting the same error. Have you made any progress ?

[2021-11-02 01:05] foxserie commented on #183
Okey I now moved on to Octave 6.3.0 but the problem persists, a solution is as @lukkesweet  has mentioned putting on every script

[code]

I wanted to evade doing this all the time by putting

[code]

in a octave_kernel_config.py located at /.jupyer

as @dsblank suggested but then the notebook doesn't print anything despite not sending any errors.

Octave 4.4.1 didn't have this plotting related pr

[2021-11-05 02:24] nyambol commented on #188
`octave` from the command line runs `octave.vbs` in the top-level install directory. The `.exe` is in `C:\Program Files\GNU Octave\Octave-6.3.0\mingw64\bin\`. You'll have to put that directory in your path to find `octave-cli.exe`. To get the CLI normally, you run `octave --no-gui`, which calls the vbs script. Probably good to make sure that the path search hits the `C:\Program Files\GNU Octave\Oc

[2021-12-01 00:50] #198 closed

[2021-12-01 07:20] QuLogic commented on #190
This is presumably causing the following crash in tests with 0.33.1:
[code]

[2021-12-01 12:58] blink1073 commented on #190
I'm working on fixing this in `metakernel`: https://github.com/Calysto/metakernel/pull/238

[2021-12-02 15:42] #190 closed

[2021-12-02 16:59] SSimco commented on #195
I was able to plot a graph in jupyter notebook using qt. I had to make jupyter use the octave executable instead of octave-cli. To do that I had to make a symbolic link to it `ln -s /usr/bin/octave /usr/bin/octave-cli-jupyter` then set the environment variable `` export OCTAVE_EXECUTABLE=octave-cli-jupyter``, and then run ``jupyter notebook``. Now you can plot using qt.
![qtplot](https://user-imag

[2021-12-03 23:16] taffarel55 commented on #195
Can you tell more details about what you did?

[2021-12-03 23:43] SSimco commented on #195
When I run `octave-cli` in a terminal and run the command `available_graphics_toolkits()` I can only see that it has fltk and when I run `octave` in a terminal and run the same command I can see now that it also lists qt. So instead of figuring out how to make qt available for octave-cli I just use the octave executable. I also create a symbolic link to octave because octave_kernel checks if the o

[2021-12-13 08:02] Plinsboorg commented on #195
![изображение](https://user-images.githubusercontent.com/42300339/145773940-7f09ea3e-5ca3-45d0-8eb9-ef95d5b2d079.png)
Adding the following phrase seems to help
set(gcf,'Visible','on');

But I have no idea what this line does.

[2022-01-04 01:16] #164 closed

[2022-01-04 01:16] #196 closed

[2022-01-04 01:16] #183 closed

[2022-01-04 01:16] #191 closed

[2022-01-04 01:16] #195 closed

[2022-01-17 12:26] mserouar opened #206 "Pop up Octave kernel windows in Jupyter"
HI !

Each time I try to import Oct2Py on a Jupyter Lab/Notebook a Pop up Octave kernel windows appears and then nothing happens until I interrupt Jupyter cells (I'm on Linux). If not I have a **TIMEOUT: Timeout exceeded.** error

Is there a known way for this issue ?

Thanks a lot !

[code]

[code]

[code]

[2022-01-17 15:28] mserouar commented on #206
import os
os.environ['OCTAVE_EXECUTABLE'] = '/usr/bin/octave-cli'

[2022-01-17 15:28] #206 closed

[2022-01-18 14:00] christophbuehler commented on #193
Which version of Octave is currently supported by the kernel?

[2022-01-18 21:30] blink1073 commented on #193
It is currently tested against 6.4.0 from conda-forge

[2022-01-26 15:19] adityaapte opened #207 "Error: graphics_toolkit: qt toolkit is not available"
%%octave magic cell produces error while using Octave from Conda. Here are additional details on this topic:
https://octave.discourse.group/t/error-graphics-toolkit-qt-toolkit-is-not-available/2146

[2022-01-26 15:37] blink1073 commented on #207
Hi @adityaapte, does changing the plot settings to use `gnuplot` work for you?  https://github.com/Calysto/octave_kernel#configuration

[2022-01-26 16:27] adityaapte commented on #207
The file ~/.jupyter/octave_kernel_config.py did not exist. So I created one with the following. But the qt error still persists.
[code]

[2022-01-26 20:31] blink1073 commented on #207
What `platform` are you using (from `conda info`)?

[2022-01-26 20:36] adityaapte commented on #207
active environment : test
    active env location : /Users/aptea/opt/miniconda3/envs/test
            shell level : 2
       user config file : /Users/aptea/.condarc
 populated config files :
          conda version : 4.8.3
    conda-build version : not installed
         python version : 3.8.3.final.0
       virtual packages : __osx=10.15.3
       base environment : /Users/aptea/opt/miniconda3  (

[2022-01-26 20:50] blink1073 commented on #207
Thanks, I'm seeing the same problem in a fresh conda environment.   The `octave` from `conda-forge` doesn't come with the `qt` toolkit, and `gnuplot` doesn't work as-is.  I need to allow you to disable plotting altogether, and also allow it to fail gracefully when you select a backend that doesn't work.  I'm not sure exactly when I'll have a chance to work on this.

[2022-01-27 14:50] blink1073 commented on #207
I would say downgrade for now until I get a chance to resolve the issue.

[2022-01-28 11:37] smartinsightsfromdata opened #208 ""strange" addpath warning"
I use jupyter lab on a virtual environment with python 3.8 (installed with pyenv) on Ubuntu 20.04.

When I execute the first line of an octave notebook I get:
[code]
Which is odd as the directory exist.

[2022-01-28 22:18] blink1073 commented on #208
That is odd, we're getting that path from the `__file__` attribute of [kernel.py](https://github.com/Calysto/octave_kernel/blob/0ae34050c2e6a2cbf45b9cdb1a69762fece9e081/octave_kernel/kernel.py#L332)

[2022-01-28 22:19] blink1073 commented on #208
if you run `addpath()` with that path in `octave` itself does it work?

[2022-02-05 20:07] #207 closed

[2022-03-19 21:57] aanish-pradhan opened #211 "Octave Kernel Detected but Nothing is Output"
I'm trying to set up a Linux programming environment within the Windows Subsystem for Linux on Windows 10. Because I want to be able to view plots and other kinds of graphics, and since Windows 10 does not natively support a GUI for WSL, I am using the Jupyter and Jupyter Notebook Renderers extensions, provided by Microsoft, within VSCode to view plots in a Jupyter Notebook-like setting, albeit th

[2022-05-11 03:32] opoplawski opened #215 "test failures with octave 7.1"
The Fedora python-octave-kernel package fails to build with the following test failure with octave 7.1:
[code]
This is with jupyter-kernel-test 0.4.3.

[2022-05-12 14:07] blink1073 commented on #215
I believe this is the same issue as https://github.com/kislyuk/argcomplete/issues/337#issuecomment-771835184

[2022-05-13 08:15] sakurazerg007 opened #216 "How to conifgure to show plot online?"
How to conifgure 'octave_kernel_config.py'? I hava th following error in octave 7:

plot(2,3)
[code]

[2022-05-16 08:24] ChrisNabold opened #217 "Octave 7.1 Windows"
I tried to install the Octave kernel from conda using Octave 7.1. However the kernel seems to  completely fail. Does the latesst kernel can work together with Octave 7.1?
Thank you for your comment

[2022-05-18 02:10] blink1073 commented on #217
Hi @ChrisNabold, I'm not a Windows user, but it appears to work with Octave 7.1 on my Mac.

What does `python -m octave_kernel.check` show?

[2022-06-08 07:59] ThomasUCAS opened #218 "Weird [?2004h and [?2004l, and problem with initialization of graphics_toolkit on Manjaro and Arch Linux"
The environment is set as "pacman -S octave" and "conda install -c conda-forge octave_kernel". When I use "jupyter qtconsole --kernel octave" to test octave_kernel, what I obtained is shown as

[code]

There are many weird "[?2004h" and "[?2004l" in the output, and I think the problem that graphics_toolkit can't initialize correctly is also caused by these weird "2004h". Also, the output of "a=1"

[2022-06-08 19:17] ThomasUCAS commented on #218
Great! I think so, and I notice that you mentioned another issue https://github.com/blink1073/oct2py/issues/237 which is actually the same as my problem although that issue is about "oct2py" rather than "octave_kernel".

But I'm still confused why this bug occurs in Octave 7.1.0. Actually, I tried Octave 6.3.0, 6.4.0 and 7.1.0 from conda-forge after I submitted this issue, and this bug only occurs

[2022-06-08 19:18] #218 closed

[2022-06-08 19:51] blink1073 commented on #218
It seems that Octave 7.1.0 is using an offending version of `readline`.

[2022-06-17 17:52] hollandheese commented on #217
Not the same person, but I have the same problem.

This is what it shows on mine:

Octave kernel v0.34.2
Metakernel v0.29.0
Python v3.10.5 (tags/v3.10.5:f377153, Jun  6 2022, 16:14:13) [MSC v.1929 64 bit (AMD64)]
Python path: C:\Program Files\Python310\python.exe

Connecting to Octave...
Can't load 'C:\Program Files\Python310\lib\site-packages\metakernel\magics\shell_magic.py': error: <pexpect.pop

[2022-07-01 14:07] aanish-pradhan commented on #211
A bit off topic but this may help anyone who sees this in the future.

A similar issue exists with the IJulia kernel for the Julia programming language. The issue is (potentially) that conda is not an official installation source for GNU Octave (and Julia). As a result, there is no support for running these languages respective kernels inside a conda environment.

[2022-07-27 14:03] yashpalgoyal1304 opened #219 "kernel status stuck on "connecting" or "unknown""
### Summary

* the kernel status in the jupyter lab is stuck on connecting, and after some time, it converts to "unknown" (screenshot attached)
* for records, the status of the working kernel is mostly "idle"

### Details:

+ **installation:** mentioned in the command used section below

* **server launch:** by launching a shortcut to `jupyter-server`
* **frontend launch:** by shortcut of the tab

[2022-08-23 20:40] gxr1894 commented on #219
I'm having the exact same issue, by any chance have you figured out a solution?

[2022-08-24 01:51] yashpalgoyal1304 commented on #219
hi,

nope. i haven't.

----
aside:

i figured that for whatever reasons,

* having the octave kernel installed &,
* i guess running in the background,
* and i dont remember if running a file with it was necessary to face this
bug or not, &
* running the `jupyter-kernel` (i.e. whether jupyter-notebook, or
jupyter-lab or anything else "jupyter")

... caused the jupyter to extremely slow down which i

[2022-08-30 17:38] skotssd commented on #219
I had the same problem.  I normally use linux and it worked easily there.  Windows is strange to me.  You need to add the octave command line interface executable to your path or define the OCTAVE_EXECUTABLE variable.  I found it easier to add the environment variable - at the search bar in windows I typed "environment variable" and then select "edit environment variables for your account".  add N

[2022-09-10 04:02] RebazaMarcelo opened #221 "Weird output when trying to see the value of a variable"
Hello, everytime i want to see the value of a variable by putting it in a new line whiteout a semicolon i get something like this

![image](https://user-images.githubusercontent.com/63772442/189467834-7a7d9d9c-047e-4003-b403-6642dcd48eb5.png)

The same happens with `disp()` and `display()` . By the way octave-cli does give the correct output

![image](https://user-images.githubusercontent.com/6377

[2022-09-29 10:38] QuLogic commented on #221
That is the same issue as #215, i.e., that is from bracketed paste charcters.

[2022-11-21 20:08] rubensa opened #222 "unexpected keyword argument 'parent'"
I can't get the octave_kernel up and run.
This is the error I get:
[code]

Could you, please, help me on this?

[2022-11-22 07:44] rubensa commented on #222
[code]

[2022-11-22 07:49] rubensa commented on #222
This is how the environment was set under Ubuntu Linux 22.04:
[code]

[2022-11-22 08:14] rubensa commented on #222
This is the error log trying to run a **jupyter** book under **VSCode** (in case it can help to trace the problem):
[code]

[2022-11-22 08:53] rubensa commented on #222
If I change the way to install **octave** and use the **Ubuntu package** (vs the **conda** version):
[code]
it work.
[code]
but the octave version is much older (5.2.0 vs 7.2.0):
[code]

[2022-11-22 09:28] rubensa commented on #222
Just checked again with the **octave** **conda** install but setting the **octave** version to **6.4.0** and to **7.1.0**.  This time it worked with both versions so pretty much looks like incompatibility problem with **octave** version **7.2.0**.

[2022-11-22 09:47] rubensa commented on #222
This is really weird...  If I explicitly set the **conda** version to **7.2.0** it works now... I can't understand anything...

_NOTE_:  All my tries where made in Docker containers so my tries should be reproducible but looks like they are not as I had a not working environment that now is a working environment.

[2022-11-22 11:22] rubensa commented on #222
I don't know why but it is working now.  So I close this.

[2022-11-22 11:22] #222 closed

[2022-11-22 12:29] blink1073 commented on #222
Hi @rubensa, I believe this was caused by ipykernel 6.18.0, which I released and then yanked yesterday.

[2022-11-22 14:40] rubensa commented on #222
Oh!!  Thanks for the info @blink1073...  I was like crazy trying to find out what was the problem.

[2022-11-22 14:47] rubensa commented on #222
For reference (anyone interested), see: https://github.com/ipython/ipykernel/issues/1026

[2022-11-22 14:52] knuesel opened #223 "Cells cannot output in PDF format"
Would it be possible to support PDF output from cells?

For example executing the following cell:

[code]

gives the error `Cannot embed the 'pdf' image format`.

Having cells with PDF output doesn't sound useful for a notebook but it's actually super useful when using a Jupyter kernel as execution engine to build PDF documents (this is better explained here: https://github.com/JuliaLang/IJulia.jl

[2022-11-22 16:32] knuesel opened #224 "Error when running plot magic before any command"
Starting the first cell with a plot magic gives the following error:

[code]

A quick fix is to add

[code]

at the beginning of the `plot_settings` function but maybe you want a cleaner solution...

[2022-11-22 16:57] blink1073 commented on #224
Your fix sounds good to me, would you like to submit a PR?

[2022-11-22 17:57] knuesel commented on #223
I think I have a working solution for this and will submit a PR by the end of the week if that's fine with you.

[2022-11-22 18:36] blink1073 commented on #223
Sounds good, thanks!

[2022-11-23 22:20] #224 closed

[2022-11-24 13:35] #223 closed

[2022-11-28 06:11] QuLogic commented on #215
Yes, it is the same issue, but the change in `metakernel` above does not fix it.

[2022-11-28 23:06] QuLogic opened #227 "PyPI sdist no longer contains tests"
With 0.35.0, the test file `test_octave_kernel.py` is missing. This used to be there in 0.34.2. I assume this has something to do with the change in build backends, but I'm not familiar enough with hatch to say how.

[2022-11-29 01:12] ofek commented on #227
https://github.com/Calysto/octave_kernel/blob/769ade5c0800ac5ef798d3966b38cb6f5f144d87/pyproject.toml#L41-L45

[2022-11-29 01:59] #227 closed

[2022-11-29 02:05] blink1073 commented on #227
https://github.com/Calysto/octave_kernel/releases/tag/v0.35.1

[2022-11-29 03:30] QuLogic commented on #227
Thanks! Works well.